* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pacifico', cursive;
  font-size: 16px;
  color: #2c2c2c;
  line-height: 1.6;
  background: linear-gradient(to bottom right, #f7fff7, #e9f7ef);
}

header {
  padding: 25px 20px;
  background: linear-gradient(to right, #d4fc79, #96e6a1);
  text-align: center;
  
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #2d6a4f;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  font-size: 20px;
  color: #1b4332;
  
}

nav a:hover {
  color: #40916c;
  
}

main {
  padding: 30px 20px;
  max-width: 1200px;
  margin: auto;
}

section {
  margin-bottom: 60px;
}

h2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #2d6a4f;
  border-left: 6px solid #52b788;
  padding-left: 10px;
  align-items: center;
  gap: 8px;
}

h2 i {
  color: #40915d;
}

img {
  width: 70%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  background: #d8f3dc;
  margin: 8px 0;
  padding: 12px 15px;
  border-radius: 10px;
  align-items: center;
  gap: 10px;
}

ul li i {
  color: #ffffff;
}

ul li:hover {
  background: #b7e4c7;
}


.dishes-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
  border-radius: 14px;
  overflow: hidden;
  background: #fff;
}

.dishes-table th,
.dishes-table td {
  padding: 1.2rem;
  text-align: left;
  border-bottom: 1px solid #e8f5e8;
}

.dishes-table th {
  background: #2d6a4f;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.dishes-table tr:nth-child(even) {
  background-color: #f8fff8;
}

.dishes-table tr:hover {
  background-color: #e8f5e8;
}

.dishes-table td:first-child {
  font-weight: bold;
  color: #1b4332;
}

.price {
  color: #2d6a4f;
  font-weight: bold;
  font-size: 1.2rem;
}



footer {
  padding: 20px;
  background-color: #1b4332;
  color: white;
  text-align: center;
  margin-top: 50px;
}

footer a {
  color: #52b788;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

